/* incognito mode */
.incognito-mode .top-bar,
.incognito-mode .bottom-bar,
.incognito-mode searchbar > revealer > box {
  background-color: #252f49;
}

.incognito-mode .top-bar:backdrop,
.incognito-mode .bottom-bar:backdrop,
.incognito-mode searchbar:backdrop > revealer > box {
  background-color: #1c2438;
}

/* automation mode */
.automation-mode .top-bar,
.automation-mode .bottom-bar,
.automation-mode searchbar > revealer > box {
  background-color: #733100;
}

.automation-mode .top-bar:backdrop,
.automation-mode .bottom-bar:backdrop,
.automation-mode searchbar:backdrop > revealer > box {
  background-color: #632300;
}

.entry-icon.starred {
  color: @yellow_1;
}
